<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.pernat.shopinglist.android"
      android:versionCode="1"
      android:versionName="1.0">
      
      <uses-sdk android:minSdkVersion="10" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
  <uses-permission android:name="android.permission.CAMERA"></uses-permission>
 
   <application android:name="GlobalneVrednosti" android:icon="@drawable/adroid_gospa" android:label="@string/app_name" android:debuggable="true" >
    <uses-library android:name="com.google.android.maps" />
     
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
             
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


		<activity android:name=".Dostava"
                  android:label="@string/app_name">
            <intent-filter>
           
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
				<activity android:name=".NovSeznam"
                  android:label="@string/app_name">
            <intent-filter>
            	
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
				<activity android:name=".ShraniImeSeznama"
                  android:label="@string/app_name">
            <intent-filter>
            	
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
				<activity android:name=".SeznamNarocil"
                  android:label="@string/app_name">
            <intent-filter>
           
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
				    
        	<activity android:name=".SplashScreen"
                  android:label="@string/app_name">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
				    
				    
				    
        		<activity android:name=".SpremeniIzdelek"
                  android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        		<activity android:name=".Vpis"
                  android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	<activity android:name=".maps.KjeSemActivity" android:label="@string/app_name">
			<intent-filter>
			
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	
	<activity android:name=".MakingXMLFIle" android:label="@string/app_name">
			<intent-filter>
			
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".Kamera" android:label="@string/app_name">
			<intent-filter>
			
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-feature android:name="android.hardware.camera" />
 	<uses-feature android:name="android.hardware.camera.autofocus" />
    
</manifest>